.card{
  width: 500px;
  padding: 10px;
}
input{
  width: 100%;
}
.row{
  margin-top: 10px;
}
.container-fluid{
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
