<div class="container">
  <div class="demo">
    <form action="">
      <div class="firstrow">
        <div class="col1">
            <div class="frcfr1">
              <label for="MI" class="_one">Monthly Investment <span class="text-danger bg-transparent">*</span></label>
              <span class="float-right">$<span>1000</span></span>
            </div>
            <div class="frcfr2">
              <input type="range" min="0" max="100" step="0.10" (change)="rangeChange($event)">
              <span>{{monthllyInvestment}}</span>
            </div>
        </div>
        <div class="col2">

        </div>

      </div>
    </form>
  </div>
</div>
